@charset "utf-8";

/*
 * Main CSS edits the elements on the page from top down
 * to make it easier to understand. It starts from the body
 * Then from up all the way down of the page
 */

/* General UI */
body {
    background: #f4f7fc;
    position: relative;
    margin:0px;
}

/* The top toolbar */
div#toolbar {
    position: relative;
    top: 0px;
    width: 100%;
    min-width: 800px;
    background: #808fab;

    border: 2px solid black;
}

/* Toolbar buttons */
img.tool-btn {
    border-radius: 10px;

    margin-top: 5px;
    margin-left: 5px;
    background: #909fab;
}

/* the editor */
div#editor {
    border: 2px solid black;
    border-radius: 5px;

    margin-top: -2px;
    position: relative;
    display: block;
    width: 100%;
    min-width: 800px;
    height: 600px;
}

/* This is where the charts are held */
content {
    position: absolute;
}

/* the div that binds the icons and label together */
div.group-content {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* general rules for icons */
i {
    display: inline-block;
    position: relative;
    z-index: -1;
}

i.chart-icon:before {
    font-size: 32px;
}

i.chart-icon {
    margin-left: -8px;
    margin-right: -8px;
}

/* chart label */
p.label-text {
    text-align: center;
}
