@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-aim5:before {
	content: "\e000";
}
.flaticon-award47:before {
	content: "\e001";
}
.flaticon-back57:before {
	content: "\e002";
}
.flaticon-basketball32:before {
	content: "\e003";
}
.flaticon-basketball35:before {
	content: "\e004";
}
.flaticon-brain5:before {
	content: "\e005";
}
.flaticon-cat19:before {
	content: "\e006";
}
.flaticon-chicken2:before {
	content: "\e007";
}
.flaticon-chronograph:before {
	content: "\e008";
}
.flaticon-delete85:before {
	content: "\e009";
}
.flaticon-dog77:before {
	content: "\e00a";
}
.flaticon-dove:before {
	content: "\e00b";
}
.flaticon-female105:before {
	content: "\e00c";
}
.flaticon-fish:before {
	content: "\e00d";
}
.flaticon-frontal7:before {
	content: "\e00e";
}
.flaticon-multiple25:before {
	content: "\e00f";
}
.flaticon-rabbit5:before {
	content: "\e010";
}
.flaticon-rightarrow7:before {
	content: "\e011";
}
.flaticon-soccer44:before {
	content: "\e012";
}
.flaticon-sports5:before {
	content: "\e013";
}
.flaticon-swimmer9:before {
	content: "\e014";
}
.flaticon-t-shirt1:before {
	content: "\e015";
}
.flaticon-trophy42:before {
	content: "\e016";
}
.flaticon-user82:before {
	content: "\e017";
}
.flaticon-women13:before {
	content: "\e018";
}
